html{
  scroll-behavior: smooth;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-violet);
  padding: 1rem;
  cursor: default;
}
  
.navbar__logo{
  width: 230px;
  height: auto;
}
  
.navbar__enlaces{
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 70%;
  align-items: center;
  text-align: center;
}
  
.navbar__enlaces--hover{
  padding: 1rem;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-family: var(--nunito);
  font-size: 16px;
}
 
.navbar__enlaces--hover:nth-child(3){
  color: var(--dark-pink);
  font-weight: 700;
}

.navbar__enlaces--hover:hover {
  background-color: var(--dark-pink);
  color: var(--dark-violet);
  font-weight: 700;
  border-radius: 10px;
}

.navbar__enlaces--hover:nth-child(3):hover {
  background-color: var(--dark-pink);
  color: var(--dark-violet);
  font-weight: 700;
  border-radius: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 2rem 1.5rem;
  }
  
  .navbar__enlaces {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .navbar__logo{
    display: none;
  }

  .navbar__enlaces--hover {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .navbar {
    padding: 0;
  }

  .navbar__enlaces {
    flex-direction: column;
  }

  .navbar__enlaces--hover {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}